<% action = user.persisted? ? user_url(user) : users_url %>

<form action="<%= action %>" method="post">
  <%= auth_form %>
  <% if user.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <section class="form-group">
    <label for="name">Username</label>
    <input type="text" name="user[name]" value="<%= user.name %>" id="name" class="form-control">
  </section>

  <section class="form-group">
    <label for="password">Password</label>
    <input type="text" name="user[password]" value="" id="password" class="form-control">
  </section>
  <button class="btn btn-primary btn-block"><%= user.persisted? ? "Update User" : "Sign Up" %></button>
</form>
